body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: Arial, Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
}
header{

    width: 100%;
    height: 60px;
}
header nav{
    display: flex;
    justify-content: flex-end;
}
header nav .nav-right-section{
    display: flex;
    align-items: center;
    width: 250px;
    height: auto;
    list-style: none;
    justify-content: center;
}
nav .nav-right-section .item-right-nav a{
    margin-right: 20px;
    color: #000000;
}

.profile-image{
    border-radius: 50%;
    height: 40px;
}

/* contenido */
main{
    margin-top: 150px;
    text-align: center;
}
main .main-logo{
    width: 530px;
    margin: 0 auto;  
    margin-bottom: 35px;
}
main .main-logo img{
    width: 300px;    
}
main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}
main .main-input-container{
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-input-container:hover{
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}
main .main-input-container input{
    width: 450px; 
    height: 40px;
    border: none;
    outline: none; /**propiedad que hace que un input se vea con border azul al hacer hover o click sobre el*/
}
main .main-input .search-icon, 
main .main-input .micro-icon{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}
main .main-input .search-icon{
    background-image: url('https://img.icons8.com/android/24/000000/search.png');
}
main .main-input .micro-icon{
    background-image: url('https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png');
    cursor: pointer;
}
main .main-buttons{
    width: 530px;
    margin: 0 auto;
}
main .main-buttons div{
    display: inline-block;
}
main .main-buttons button{
    height: 36px;
    background-color: #f2f2f2;
    border: 0;
    font-size: 14px;
    color: #5f6368;
    border-radius: 5px;
    padding: 0 15px;
    margin: 0 7px;
}
main .main-buttons button:hover{
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px #000001;
    color: #222;
}
footer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}
footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
    align-items: center;
}
footer .footer-left{
   justify-self: left;
}
footer .footer-right{
    justify-self: right;
}
 footer ul li a{
    margin: 10px;
    color: #5f6368;
}
@media(max-width:767px){
    main .main-buttons, 
    footer{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    main .main-buttons div{
        margin: 10px auto;
    }
    main .main-logo, 
    main .main-input{
        width: 100%;
    }
    main .main-input{
        display: flex;
        justify-content: center;
    }
    main .main-logo img,
    main .main-input-container{
        width: 80%;
    }
    footer{
        bottom: 47px;
    }
}